@import '@/assets/styles/global.scss';

$sider-width: toRem(260);
$nav-bar-height: toRem(80);

$m-nav-bar-height: toRem(60);
$m-footer-height: toRem(64);

.quiz-layout {
  * {
    font-family: 'Be Vietnam Pro', sans-serif !important;
  }

  background-color: $app-background-color;

  .sider {
    background-color: $app-background-color;
    overflow: auto;
    height: 100vh;

    .join-quiz-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: toRem(4);
      font-size: toRem(20);
      height: toRem(48);
      width: toRem(200);
      background-color: $red-color;
      color: $main-white-color;
      position: absolute;
      bottom: toRem(24);
      transform: translateX(-50%);
      left: 50%;

      @include hover-shadow;

      &:hover {
        background-color: $red-color;
        color: $main-white-color;
        border-color: $red-color-2;
      }
    }
  }

  .header {
    background-color: $app-background-color;
    height: $nav-bar-height;
    padding: 0 toRem(24);
    width: 100%;
    top: 0;
    left: $sider-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-layout {
    background-color: $app-background-color;
    min-height: 100vh;

    .content-container {
      overflow: initial;
      flex: none !important;
      height: calc(100vh - $nav-bar-height);
      padding: 0;

      @media (max-width: toRem(991)) {
        height: calc(100vh - $m-nav-bar-height - $m-footer-height);
        padding-right: 0;
        overflow: initial;
      }

      .content {
        background-color: $main-white-color;
        height: 100%;
        overflow: auto;
        border-radius: toRem(12) 0 0 0;
      }
    }
  }

  .mobile-header {
    background-color: $red-color;
    height: $m-nav-bar-height;
    padding: 0 toRem(14);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
      background-color: $main-white-color;
      height: 80%;
      padding: toRem(4) toRem(8);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: toRem(4);

      img {
        height: 100%;
      }
    }
  }

  .mobile-footer {
    background-color: $red-color;
    height: $m-footer-height;
    padding: 0 toRem(14);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .mobile-footer-left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: toRem(8);
    }

    .mobile-footer-right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: toRem(8);
    }

    .m-footer-btn {
      height: 68% !important;
      width: toRem(56);
    }
  }
}
