@import '@/assets/styles/global.scss';

$sider-width: toRem(260);
$nav-bar-height: toRem(60);
$footer-height: toRem(80);

.quiz-layout {
  background-color: $app-background-color;

  .sider {
    background-color: $app-background-color;
    overflow: auto;
    height: 100vh;
  }

  .header {
    background-color: $app-background-color;
    height: $nav-bar-height;
    padding: 0 toRem(24);
    width: 100%;
    top: 0;
    left: $sider-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-layout {
    background-color: $app-background-color;
    min-height: 100vh;

    .content-container {
      overflow: initial;
      flex: none !important;
      height: calc(100vh - $footer-height - $nav-bar-height);
      padding: 0;
      padding-right: toRem(14);

      @media (max-width: toRem(991)) {
        padding-right: 0;
      }

      .content {
        background-color: $main-white-color;
        height: 100%;
        overflow: auto;
        border-radius: toRem(12);
      }
    }

    .footer {
      background-color: $app-background-color;
      height: $footer-height;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
