@import '@/assets/styles/global.scss';

.analytics-card {
  &-header {
    display: flex;
    flex-direction: column;
    gap: toRem(8);

    .question-title {
      font-size: toRem(16);
      font-weight: 400;
      color: $main-black-color;
    }

    .total-answers {
      font-size: toRem(12);
      color: $gray-color-4;
    }
  }

  &-body {
    display: flex;
    justify-content: center;
    align-items: center;

    .texts-container {
      display: flex;
      flex-direction: column;
      gap: toRem(4);

      .text {
        background-color: $gray-color-0;
        padding: toRem(10);
        border-radius: toRem(6);
        font-size: toRem(14);
        width: 'fit-content';
      }
    }
  }
}
