@import '@/assets/styles/global.scss';

.quiz-list {
  margin-top: toRem(20);

  .ant-table-body {
    height: calc($screen-height - toRem(410));
  }
}

.quiz-list-modal {
  padding-top: toRem(100);
}
