@import '@/assets/styles/global.scss';

.collection-list {
  margin-top: toRem(20);

  .ant-table-body {
    height: calc(100vh - toRem(410));
    overflow: auto !important;
  }
}

.collection-list-modal {
  padding-top: toRem(100);
}
