@import '@/assets/styles/global.scss';

.question-list {
  .ant-table-body {
    height: calc($screen-height - toRem(483));

    @media (max-width: 1200px) {
      height: calc($screen-height - toRem(509));
    }

    @media (max-width: 992px) {
      height: calc($screen-height - toRem(565));
    }
  }
}
