@import '@/assets/styles/global.scss';

.list-page {
  padding: toRem(32);
  padding-bottom: toRem(60);

  .page-title {
    font-size: toRem(28);
    color: $red-color;
    margin-bottom: toRem(20);
  }

  .page-content {
    display: flex;
    flex-direction: column;
    gap: toRem(32);
    padding: 0 toRem(32);
  }

  @media (max-width: toRem(991)) {
    padding: toRem(24);
    padding-bottom: toRem(48);
    overflow: hidden;
    .page-content {
      padding: 0;
      gap: toRem(8);
    }
  }
}
