@import '@/assets/styles/global.scss';

.quiz-builder {
  padding-bottom: toRem(20);

  .quiz-builder-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    gap: toRem(8);

    @media (max-width: 1300px) {
      position: relative;
      margin-top: toRem(20);
    }
  }

  .quiz-builder-content {
    @media (max-width: 1300px) {
      max-height: toRem(680);
    }

    height: fit-content;
    max-height: toRem(652);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
