@import '@/assets/styles/global.scss';

.my-glowing-input-container {
  width: 100%;
  position: relative;
  transform: translateX(toRem(-1));

  .ant-input {
    min-height: toRem(48);
    border: none;
    background-color: $gray-color-0;
    border-bottom: toRem(1) solid $gray-color-4;
    border-radius: toRem(4);
    position: relative;
    font-size: toRem(16);
    padding: toRem(14);
    padding-top: toRem(16);
    overflow: hidden;

    &:hover {
      background-color: $gray-color-0_5;
      border-color: $gray-color-4;
    }

    &:focus {
      box-shadow: none;
      border-color: $red-color-2;
    }

    &.background-none {
      background-color: white;

      &:focus {
        background-color: white;
      }
    }
  }

  &::after {
    content: ' ';
    width: 0;
    background-color: $red-color-2;
    position: absolute;
    height: toRem(1.4);
    display: block;
    left: 50%;
    z-index: 1000000;
    transform: translateY(toRem(-1.8));
    @include my-transition(0.2s);
  }

  &:focus-within::after {
    left: 0;
    width: 100%;
  }
}

.my-glowing-input-container.background-white {
  .ant-input {
    min-height: toRem(48);
    border: none;
    background-color: white;
    border-bottom: toRem(1) solid $gray-color-4;
    border-radius: toRem(4);
    position: relative;
    font-size: toRem(16);
    padding: toRem(14);
    padding-top: toRem(16);

    &:hover {
      background-color: white;
      border-color: $gray-color-4;
    }

    &:focus {
      box-shadow: none;
      border-color: $red-color-2;
      background-color: white;
    }
  }
}
