@import '@/assets/styles/global.scss';

.client-quiz-list {
  padding: 0 toRem(32);

  .client-quiz-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .see-more-button {
      display: flex;
      align-items: center;
      gap: toRem(4);

      &:hover {
        color: $red-color;
        text-decoration: underline;
        cursor: pointer;
        @include select-restricted;
      }
    }
  }

  .quiz-list-title {
    margin-bottom: toRem(8);
  }

  .list-container {
    min-height: toRem(240);
  }

  .empty {
    border: toRem(1) solid $gray-color-0_5;
    border-radius: toRem(8);
    display: flex;
    justify-content: center;

    .ant-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
