@import '@/assets/styles/global.scss';

.client-quiz-list {
  .client-quiz-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: toRem(8);

    .header-left {
      display: flex;
      align-items: center;
      gap: toRem(8);
    }

    .see-more-button {
      display: flex;
      align-items: center;
      gap: toRem(4);

      &:hover {
        color: $red-color;
        text-decoration: underline;
        cursor: pointer;
        @include select-restricted;
      }
    }
  }

  .quiz-list-title {
  }

  .list-container {
    min-height: toRem(240);
  }

  .empty {
    border: toRem(1) solid $gray-color-0_5;
    border-radius: toRem(8);
    display: flex;
    justify-content: center;

    .ant-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  @media (max-width: toRem(991)) {
    .home.list-container {
      width: calc(100vw - toRem(24));
      overflow-x: auto;
      padding: toRem(4);
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .list {
        width: max-content;
        padding-right: toRem(24);
      }
    }
  }

  .home.list-container.empty {
    width: calc(100vw - toRem(48));
  }
}
