@import '@/assets/styles/global.scss';

.nav-bar-title {
  display: flex;
  align-items: center;
  color: $blue-color-6;
  gap: toRem(8);
  h1 {
    font-size: toRem(16);
  }

  .collection-title {
    display: flex;
    gap: toRem(8);
    font-size: toRem(16);
  }
}
