@import '@/assets/styles/global.scss';

.quiz-builder {
  .select-section {
    display: flex;
    justify-content: space-between;
  }

  .question-selection-table {
    width: toRem(560);

    .ant-table-body {
      min-height: toRem(494);

      .ant-table-placeholder {
        height: toRem(494);
      }
    }
  }

  .quiz-builder-footer {
    display: flex;
    justify-content: flex-end;
    gap: toRem(8);
  }
}
