@import '@/assets/styles/global.scss';

.answer-section {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: toRem(20);
  position: relative;
  gap: toRem(8);
  padding-top: toRem(6);

  @media (max-width: 992px) {
    overflow-y: scroll;
    display: block;
  }
}

.answer-section-text {
  justify-content: center;
  align-items: flex-start;
}
