@import '@/assets/styles/global.scss';

.quiz-card {
  height: toRem(240);
  width: 100%;
  position: relative;
  border-radius: toRem(8);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;

  .image-section {
    width: 100%;
    height: 55%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: toRem(8) toRem(10);
    height: 45%;

    .item-status {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ant-tag {
        font-size: toRem(10);
        line-height: toRem(14);
        margin-inline-end: 0;
      }
    }

    .item-title {
      margin-top: toRem(8);
      font-size: toRem(16);
      color: $red-color;
      font-weight: 800;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include select-restricted;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .item-extra {
      bottom: 0;
      font-size: toRem(10);
      line-height: toRem(14);
      display: flex;
      gap: toRem(4);
      align-items: center;

      .dot {
        display: flex;
        align-items: center;
        height: toRem(4);
        width: toRem(4);
        border-radius: 50%;
        background-color: $main-black-color;
      }
    }
  }
}
