@import '@/assets/styles/global.scss';

.login-page {
  * {
    font-family: 'Be Vietnam Pro', sans-serif !important;
  }

  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .dim-transparent {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.543);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .login-container {
    width: 86%;
    height: toRem(240);
    max-width: toRem(360);
    transform: translateY(toRem(-70));
    background-color: $main-white-color;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    padding-top: toRem(28);
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    gap: toRem(22);
    border-radius: toRem(12);

    & > img {
      height: toRem(70);
      transform: translateY(toRem(-6));
    }

    & > p {
      font-size: toRem(16);
    }

    .login-btn {
      color: $main-white-color;
      font-weight: 600;
      background-color: $red-color;
      height: toRem(60);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: toRem(10);
      font-size: toRem(18);
      width: 90%;
      padding: toRem(6) toRem(20);

      &:hover {
        color: $main-white-color !important;
        background-color: $red-color !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      img {
        height: 90%;
        border: toRem(1) solid $main-white-color;
      }
    }
  }

  @media (max-width: toRem(560)) {
    .login-container {
      font-size: toRem(14);
      height: toRem(230);
      padding-top: toRem(24);
      transform: translateY(toRem(-50));

      & > img {
        height: toRem(60);
      }

      .login-btn {
        font-size: toRem(16);
      }
    }
  }
}

.login-callback {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
